@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Treat

<div class="container my-4">
  <h4 class="text-center">Edit this Treat: @Html.DisplayFor(model => model.Name)</h4>
  <hr />

  <div class="d-flex flex-row justify-content-center m-2">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.TreatId)

        @Html.Label("Name:", null, new { @class ="mx-2"})
        @Html.TextBoxFor(model => model.Name, null, new { @class ="mx-2"})
  
        <input type="submit" value="Save" class="fancyBtn" />
    }
  </div>
  <div class="d-flex flex-row justify-content-center mt-4">
    <p class="fancyBtn">@Html.ActionLink("Back to list", "Index")</p>
  </div>
</div>